googletest/
*.o
*.dSYM
*.a
test/test
test/test_implementation
*.DS_Store
timing/data
timing/train-images-idx3-ubyte
timing/exact/tester
timing/mrpt_tester/tester
timing/mrpt_old_tester/tester
timing/mrpt_autotuning_tester/tester
timing/timing_tester/tester
**/tester
timing/results
timing/bench/hayai
timing/bench/test
test/save
test/mrpt_saved
*.gcc*
*.gch
*.bvecs
*.ivecs
*.fvecs
*.gz
timing/sift
timing/script-output
timing/gist
**/.Rhistory
*.zip
